.main {
  width: 100%;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 87.5vh;
}

.storiesContainer {
  width: min(90%, 70.5rem);
  margin-inline: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: royalblue;
  justify-content: center;
  align-items: center;

  @media (min-width: 675px) {
    width: 60%;
    height: auto;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: auto;
  }
}

.storyContainer {
  background-color: salmon;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1em;
  transition: 1.5s ease;
  max-width: 100%;

  &:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    cursor: pointer;
  }

  &:active {
    background-color: royalblue;
    border-color: white;
    box-shadow: none;
  }

  @media (min-width: 675px) {
    padding: 3rem 0.8rem;
  }

  @media (min-width: 1200px) {
    padding: 8rem;
  }
}

.title {
  color: whitesmoke;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;

  @media (min-width: 1200px) {
    min-width: 6rem;
  }
}
