.main {
  padding: 2% 15%;
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  @media (max-width: 675px) {
    margin-top: 0;
  }
}

.cardContainer {
  padding-left: 6px;
  border-left: gray solid 5px;
  padding-bottom: 15px;
}

.infoParagraph {
  color: rgb(136, 131, 131);
  margin-bottom: 0;
}

.cardContainer a {
  color: salmon;
}

.cardContainer a u {
  color: salmon;
  &:hover {
    cursor: pointer;
  }
}

.title a {
  font-size: 1.4rem;
  color: gray;
  text-decoration: none;
  cursor: pointer;

  @media (max-width: 675px) {
    font-size: 1.2rem;
  }
}

.cardContainer em {
  color: rgb(136, 131, 131);
  text-decoration: underline;
}

.infoParagraph em {
  color: skyblue;
  font-weight: 500;
  text-decoration: none;
}

.list figcaption {
  color: rgb(136, 131, 131);
  font-size: 1rem;
  font-weight: 700;
}

.list li {
  font-size: 0.8rem;
  font-weight: 700;
  color: black;
}

.list span {
  color: skyblue;
}

.list p {
  font-size: 0.7rem;
  font-weight: 700;
  color: black;
}

.hideButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hideButton {
  background-color: white;
  border: none;
  color: salmon;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

@mixin loading {
  margin: auto;
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  border-top: 20px solid salmon;
  width: 100px;
  height: 100px;
  animation: spinner 4s linear infinite;
}
.loader {
  @include loading();
}

.loaderComment {
  @include loading();
  width: 50px;
  height: 50px;
  border-top: 20px solid royalblue;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
