html {
  min-height: 100%;
}

:root {
  --clr-primary-300: whitesmoke;
  --clr-primary-400: salmon;

  --clr-neutral-100: white;
  --clr-primary-900: royalblue;

  --ff-primary: "Open sans", sans-serif;
  --ff-accent: serif;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);

  min-height: 100vh;
  background-color: var(--clr-primary-300);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--ff-primary);
  font-weight: bold;
  line-height: 1;
  color: var(--clr-primary-300);
}

header {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-900);
  width: min(90%, 70.5rem);
}

main {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-300);
  padding: 3rem 0;
  margin-top: 0;
}
